<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-3 d-flex justify-content-start">
      <mat-toolbar
        style="
          border: 2px solid #737070;
          background: #f5f5f5;
          border-radius: 6px;
        "
      >
        <span>KEYS RING</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-3 d-flex justify-content-start">
      <mat-form-field
        appearance="outline"
        style="width: 260px; margin-top: 20px; font-size: 12px"
      >
        <mat-label class="placeholder">context/URL</mat-label>
        <input
          type="text"
          #contextAutoComplete
          placeholder="context"
          aria-label="Number"
          matInput
          [formControl]="contextControl"
          (blur)="selectContext()"
        />
      </mat-form-field>
      <div class="col-3 d-flex justify-content-start"></div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-3 d-flex justify-content-start">
      <mat-form-field
        appearance="outline"
        style="width: 260px; font-size: 12px"
      >
        <mat-label class="placeholder">context/URL</mat-label>
        <input
          type="text"
          #loginAutoComplete
          placeholder="login"
          aria-label="Number"
          matInput
          [formControl]="loginControl"
          (blur)="selectLogin()"
        />
      </mat-form-field>
      <div class="col-3 d-flex justify-content-start"></div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-3 d-flex justify-content-start">
      <mat-form-field
        appearance="outline"
        style="width: 260px; font-size: 12px"
      >
        <mat-label class="placeholder">context/URL</mat-label>
        <input
          type="password"
          placeholder="password"
          aria-label="Number"
          matInput
          [(ngModel)]="password"
        />
      </mat-form-field>
      <div class="col-3 d-flex justify-content-center">
        <button class="btn" type="button" (click)="generate()">
          <mat-icon mat-icon-button> restart_alt </mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-2 d-flex justify-content-start">
      <button class="btnback" type="button" (click)="back()">back</button>
    </div>
    <div class="col-1 d-flex justify-content-end">
      <button class="btnsave" type="button" (click)="save()">save</button>
    </div>
  </div>
</div>

