<div class="header row d-flex justify-content-center">
  <div class="col-12 d-flex justify-content-start">
    <mat-toolbar style="background: #f5f5f5">
      <span class="logo">KEYS RING</span>
      <span class="logout"></span>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </div>
</div>

<h2 class="accounts">Accounts</h2>

<div style="font-size: 10px">
  <mat-form-field class="search" appearance="none" mat-icon-button matPreffix>
    <label
      ><mat-icon style="margin-left: 20px; font-size: 24px"
        >search</mat-icon
      ></label
    >
    <label>
      <input
        style="
          margin-left: 20px;
          font-size: 18px;
          width: 700px;
          justify-content: center;
          margin-top: 5px;
        "
        matInput
        (keyup)="applyFilter($event)"
        #input
      />
    </label>
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
  <!-- Context Column -->
  <ng-container matColumnDef="context">
    <th
      style="width: 25% !important; font-size: 16px"
      mat-header-cell
      *matHeaderCellDef
    >
      Context
    </th>
    <td style="width: 25% !important" mat-cell *matCellDef="let element">
      {{ element.context }}
    </td>
  </ng-container>

  <!-- Username Column -->
  <ng-container matColumnDef="login">
    <th
      style="width: 25% !important; font-size: 16px"
      mat-header-cell
      *matHeaderCellDef
    >
      Login
    </th>
    <td style="width: 25% !important" mat-cell *matCellDef="let element">
      {{ element.login }}
    </td>
  </ng-container>

  <!-- Password Column -->
  <ng-container matColumnDef="password">
    <th
      style="width: 25% !important; font-size: 16px"
      mat-header-cell
      *matHeaderCellDef
      class="password"
    >
      Password
    </th>
    <td
      style="width: 30% !important; font-size: 16px"
      mat-cell
      *matCellDef="let element"
    >
      <mat-form-field appearance="none" class="password">
        <input
          matInput
          disabled
          type="password"
          id="{{ element.context + element.login }}"
          [value]="element.password"
        />
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="show">
    <th
      style="width: 10% !important; font-size: 16px"
      mat-header-cell
      *matHeaderCellDef
    >   
    </th>
    <td style="width: 10% !important" mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        (click)="show(element)"
        style="margin-left: -15px"
      >
        <mat-icon id="{{ element.context + element.login }}"
          >visibility</mat-icon
        >
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th
      style="width: 10% !important; font-size: 16px"
      mat-header-cell
      *matHeaderCellDef
    >  
    </th>
    <td style="width: 10% !important" mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="goToUpdate(element)" style="margin-left: -15px">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th
      style="width: 10% !important; font-size: 16px"
      mat-header-cell
      *matHeaderCellDef
    >    
    </th>
    <td style="width: 10% !important" mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        (click)="deleteLogin(element)"
        style="margin-left: -15px"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="6">No data</td>
  </tr>
</table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
<div class="row d-flex justify-content-center buttons">
  <div class="col-11 d-flex justify-content-end">
    <button class="btnadd" type="button" (click)="goToAddkey()">add</button>
  </div>
  <div class="col-1 d-flex justify-content-start">
    <button class="btnback" type="button" (click)="goBack()">back</button>
  </div>
</div>
